.header {
    @include paddings (44px , 44px);

    &-nav {
        display: flex;
        align-items: center;
    }

    &-list {
        list-style-type: none;
        font-family: $font-family;
        font-weight: 600;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.01em;
        color: #252b42;
        @media (max-width: 767px) {
            display: none;
        }

        @media (min-width: 768px) {
                gap: 50px;
                display: flex;
                font-size: 14px;
        }

        @media (min-width: 1200px) {
                gap: 94px;
                font-size: 16px;
        }
    }

    &-logo {
        margin-right: auto;

       & img {
        @media (max-width: 767px) {
                width: 100px;
       } 
    }

    
}

}

.current {
    color: #FA4A0C;
}

.header-button {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

    &:hover {
        background-color: rgb(136, 136, 136);
        color: #FFF;
    }

    @media (min-width: 768px) {
        display: none;
    }
}