.container {
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
    // outline: 1px solid blue;
    @media (min-width: 480px) {
        width: 480px;
    }
    @media (min-width: 768px) {
        width: 768px;
    }
    @media (min-width: 1200px) {
        width: 1200px;
    }
}

.section {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.img {
    display: block;
    width: 100%;
    height: auto;
}